<mat-card>
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-content>
        <mat-list>
            <ng-container>
                <mat-list-item>CADASTROS</mat-list-item>
                <mat-list style="margin-left:30px;">
                    <div>
                        <mat-list-item href="...">Coleções</mat-list-item>
                        <mat-list-item href="...">Modelos</mat-list-item>
                    </div>
                </mat-list>
            </ng-container>
        </mat-list>
        <mat-list>
            <ng-container>
                <mat-list-item>SUPORTE</mat-list-item>
                <mat-list style="margin-left:30px;">
                    <div>
                        <mat-list-item href="...">Obter Ajuda</mat-list-item>
                        <mat-list-item href="...">Enviar Comentários</mat-list-item>
                    </div>
                </mat-list>
            </ng-container>
        </mat-list>
    </mat-card-content>
</mat-card>