<mat-card>
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout="row" style="height: 75px; background-color: #74fd86">
                <div fxFlex="20" fxFlexOffset="10" style="background-color: #b5ffbf" fxLayoutAlign="center center">
                    <app-menu></app-menu>
                </div>
                <div fxFlex="80" fxFlexOffset="10" style="background-color: #b5ffbf" fxLayoutAlign="center center">
                    <app-home></app-home>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

